<!DOCTYPE html>
<html lang="en" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instrukcje sterujące</title>
</head>
<body>
    <p th:unless="${person}">Nie przekazano obiektu reprezentującego osobę</p>
    <div th:if="${person}">
        <div th:switch="${lang}">
            <h1 th:case="pl">Cześć</h1>
            <h1 th:case="en">Hello</h1>
        </div>
        <p th:text="${person.firstName}"></p>
        <p th:text="${person.lastName}"></p>
        <p th:if="${person.age} >= 18">Pełnoletni</p>
        <p th:unless="${person.age} >= 18">Nieleteni</p>
    </div>
</body>
</html>