<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zbiór wszystkich promocji</title>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            max-width: 1000px;
            width: 100%;
        }
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Promocje</h1>
    <a href="/add">Dodaj promocję</a>
    <section th:unless="${promotions.isEmpty()}">
        <p>Lista promocji</p>
        <table>
            <thead>
                <tr>
                    <td>Nazwa produktu</td>
                    <td>Sklep</td>
                    <td>Cena przed obniżką</td>
                    <td>Cena promocyjna</td>
                    <td>Oszczędność</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="promotion :${promotions}" th:object="${promotion}">
                    <td th:text="*{product}">Mleko</td>
                    <td th:text="*{shop}">Żabka</td>
                    <td th:text="|*{price} zł|">5</td>
                    <td th:text="|*{discountPrice} zł|">3</td>
                    <td th:text="|*{price - discountPrice} zł|">2</td>
                </tr>
            </tbody>
        </table>

    </section>

    <h2 th:if="${promotions.isEmpty()}">Brak promocji</h2>
</body>
</html>