<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pętle</title>
</head>
<body>
<h1>Lista osób</h1>
<ul>
    <li th:each="person, status: ${people}">
        <span th:text="${status.count + ' / ' + status.size + ' ' + person.firstName + ' ' +  person.lastName}"></span>
    </li>
</ul>
<h2>Lista generowana na podstawie sekwencji</h2>
<ul>
    <li th:each="i : ${#numbers.sequence(1, size)}" th:text="'Liczba nr: ' + ${i}"></li>
</ul>
</body>
</html>